[defaults]
inventory = inventory/hosts.ini
roles_path = roles
retry_files_enabled = false
# Don't warn about localhost not in inventory
localhost_warning = false

[privilege_escalation]
become_ask_pass = true
